.headline {
  margin-top: 96px;
}

.description {
  margin-top: 32px;
  margin-bottom: 32px;
}
.description a {
  color: #FFFFFF;
  text-decoration: underline;
}
.description a:hover, a:focus {
  opacity: 0.6;
}
htext {
  cursor: pointer;
  text-decoration: underline;
}
htext:hover, htext:focus {
  opacity: 0.6;
}

.form-custom {
  width: 100%;
}

.choice-list-wrapper {
  margin-top: 24px;
  margin-bottom: 34px;
  margin-left: 13%;
  margin-right: 13%;
}
.choice-list-wrapper span {
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
.choice-list-wrapper .choice-list-hint {
  margin-bottom: 4px;
}
.choice-row {
  height: 34px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: -1px;
  border-top: 1px solid #714365;
  border-bottom: 1px solid #714365;
  opacity: 0.6;
}
.choice-row:hover, .choice-row.focus {
  opacity: 0.4;
  cursor: pointer;
}
.choice-text {
  padding: 6px 12px 6px 12px;
}

.input-custom-wrapper {
  margin-left: 12px;
  margin-right: 12px;
}

#tag-exist-addon {
  vertical-align: top;
  padding-top: 9px;
}
#textarea-tag-exist {
  min-height: 54px;
}
#tips-addon {
  vertical-align: top;
  padding-top: 9px;
}
#textarea-tips {
  height: 320px;
}
#textarea-tips::-webkit-input-placeholder::after {
  content: "\A老师的讲课风格、考勤频率、作业量、考核形式……\A或者单纯的吐槽~\A\A为了保证攻略收集的质量，该表单项要求字数大于137.";
}

.submit-button {
  margin-top: 16px;
}

/* footer */
.footer-wrapper {
  margin-top: 24px;
  padding-bottom: 12px;
  font-size: 12px;
}