html {
  -webkit-text-size-adjust: none;
}
body {
  background-image: url(../images/background.png);
  background-size: 100%;
  background-repeat: repeat-y;
  color: #FFFFFF;
  font-family: "Avenir Next", "PingFang SC";
}

/* navigation header */
.navigation-header {
  padding-left: 0;
  padding-right: 0;
}
.nav>li>a {
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 12px;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  opacity: 1.0;
  background-color: transparent;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: -1px;
}

/* main headline */
.main-headline {
  padding-top: 32px;
}
.main-headline h1 {
  font-size: 56px;
  padding-top: 14px;
}
.main-headline p {
  padding-top: 10px;
}
.logo {
  height: 64px;
  width: 64px;
}

/* elective */
.elective {
  padding-top: 14px;
}
.round-image {
  height: 128px;
  width: 128px;
}
.elective-content {
  padding-top: 24px;
  padding-bottom: 14px;
}

/* detial */
.detail-content {
  padding-top: 4px;
  padding-bottom: 14px;
  padding-left: 0;
  padding-right: 0;
}
.detail-description {
  font-size: 12px;
}

/* statistics*/
.statistics-detail.col-md-6 {
  padding-left: 0;
  padding-right: 0;
}
.unit-text {
  font-size: 10px;
}
.join-us-button-wrapper {
  padding-top: 18px;
}
.statistics-content {
  padding-top: 4px;
  padding-bottom: 24px;
}

/* contact */
.contact-content {
  padding-left: 0;
  padding-right: 0;
}
#contact-account {
  margin-top: 8px;
  margin-bottom: 16px;
}

/* footer */
.footer-wrapper {
  margin-top: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
}

/* common */
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.pull-left {
  /*float: left;*/
  text-align: left;
}
.pull-right {
  /*float: right;*/
  text-align: right;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

/* font */
.ultralight {
  font-weight: 100;
}
.translucent-color {
  opacity: 0.6;
}

/* divider */
.divider-top {
  border-top: 1px solid #714365;
}

.divider-bottom {
  border-bottom: 1px solid #714365;
}

/* button */
.btn {
  border-radius: 0;
  border: 1px solid #714365;
  background-color: transparent;
}
.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  outline: none;
}
.btn:active, .btn.active {
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #714365;
  background-color: rgba(255, 255, 255, 0.2); 
  outline: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  color: #FFFFFF;
  outline: none;
}

/* input */
.form-control {
  color: #FFFFFF;
  background-color: transparent;
  border-radius: 0;
}
.form-control::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 0.6;
}
input {
  background-color: transparent;
}
input[type="text"] {
  border-radius: 0;
  border-top: 1px solid #714365;
  border-bottom: 1px solid #714365;
  border-left: none;
  border-right: none;
}
