.headline {
  margin-top: 96px;
}

.description {
  margin-top: 32px;
  margin-bottom: 32px;
}

.validate-button {
  margin-top: 16px;
}
.note {
  margin-top: 12px;
  font-size: 12px;
}

/* footer */
.footer-wrapper {
  margin-top: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
}

/* hint */
.hint-wrapper {
  height: 56px;
}
.hint-text-wrapper {
  height: 100%;
  display: table;
  padding-left: 0;
}
.hint-image-wrapper {
  padding-right: 0;
}
.hint {
  opacity: 0.6; 
  vertical-align: middle;
  display: table-cell;
}